.btn-primary {
  padding: 1.6rem 2.4rem;
  background-color: var(--pink-10);
  color: var(--gray-900);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.48px;
  transition: all 0.3s ease;
}

.btn-primary.white {
  background-color: #ffffff;
}

.btn-primary.white:hover {
  background-color: var(--gray-900);
  color: #ffffff;
}

.btn-primary.lg {
  font-size: 1.8rem;
  padding: 2.3rem 2.4rem;
}

.btn-primary:hover {
  background-color: var(--pink-20);
}

.item-digital {
  flex-grow: 1;
  max-width: 38.4rem;
}

.item-digital .icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.6rem;
}

.item-digital .info h6 {
  margin-bottom: 0.8rem;
}

.item-digital .info p {
  color: var(--gray-600);
}

.card-post {
  border: 2px solid rgba(255, 255, 255, 0.08);
  background-color: rgba(255, 255, 255, 0.02);
  padding: 2.4rem;
}

.card-post .tag {
  display: inline-block;
  border-radius: 10rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.8rem 2.2rem;
  color: var(--gray-100);
  font-family: "Sora", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.126rem;
  text-transform: uppercase;
  margin-bottom: 4.5rem;
}

.card-post .image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.4rem;
}

.card-post .text {
  width: 100%;
  max-width: 50.8rem;
}

.card-post .text h6 {
  margin-bottom: 0.8rem;
}

.card-post .text p {
  font-size: 1.6rem;
  color: var(--gray-600);
}

header {
  width: 100%;
  height: 8.8rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

header nav ul {
  display: flex;
  gap: 4rem;
}

header nav ul li a {
  color: var(--gray-100);
  font-size: 1.6rem;
  letter-spacing: -0.048rem;
  transition: opacity 0.3s ease;
}

header nav ul li a:hover {
  opacity: 0.7;
}

.s-hero {
  position: relative;
  width: 100%;
  padding-top: 11.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.s-hero::after {
  content: "";
  width: 100%;
  height: 22rem;
  background-color: var(--pink-10);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.s-hero .text {
  width: 100%;
  max-width: 71.9rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 6.4rem;
  position: relative;
}

.s-hero .text h1 {
  position: relative;
  font-weight: 600;
  letter-spacing: -0.168rem;
}

.s-hero .text h1::after {
  content: "";
  width: 100%;
  max-width: 59.9rem;
  height: 2.2rem;
  background: url("../img/line-title.svg") no-repeat center center;
  position: absolute;
  left: 3.9rem;
  bottom: -0.5rem;
  z-index: -1;
}

.s-hero .text p {
  max-width: 55.6rem;
  margin: 0 auto;
  letter-spacing: -0.054rem;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
  color: var(--gray-300);
}

.s-hero .text .arrow {
  position: absolute;
  bottom: 1.7rem;
  left: 5.5rem;
}

.s-hero .ilustra {
  padding: 0 1.5rem;
}

.s-digital {
  padding-top: 12.8rem;
}

.s-digital h3 {
  text-align: center;
  max-width: 53.5rem;
  margin: 0 auto;
  margin-bottom: 6.4rem;
}

.s-digital ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-800);
  padding-bottom: 12.8rem;
}

.s-art-front {
  padding: 12.8rem 0;
}

.s-art-front .title-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.4rem;
}

.s-art-front .title-text h3 {
  letter-spacing: -1.2px;
  font-weight: 600;
}

.s-art-front .title-text p {
  color: var(--gray-600);
  letter-spacing: -0.54px;
  margin-top: 1.6rem;
}

.s-art-front .title-text .left {
  max-width: 53.9rem;
}

.s-art-front .title-text .left p {
  max-width: 45.2rem;
}

.s-art-front .title-text .right {
  max-width: 42.9rem;
}

.s-art-front .all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.s-art-front .all .card-post:first-child {
  grid-column: span 2;
}
