:root {
  --pink-10: #f67acb;
  --pink-20: #cf62a9;
  --pink-30: #9d457f;
  --gray-900: #0a0b0d;
  --gray-800: #393b42;
  --gray-700: #5c5f69;
  --gray-600: #787c87;
  --gray-500: #979ba6;
  --gray-400: #abafba;
  --gray-300: #c0c3cc;
  --gray-200: #dfe1e8;
  --gray-100: #f5f6fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  background-color: var(--gray-900);
  color: var(--gray-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
  line-height: 120%;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2.2rem;
}

p {
  font-size: 1.8rem;
  line-height: 150%;
}

.container {
  width: 100%;
  max-width: 124.6rem;
  margin: 0 auto;
  padding: 1.5rem;
}
