.btn-primary {
  border-radius: 10rem;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background-color: $purple-10;
  display: inline-block;
  padding: 1.4rem 2.3rem;
  color: $gray-100;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 150%;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $purple-20;
  }
}

.form-email {
  border-radius: 10rem;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background-color: rgba(255, 255, 255, 0.04);
  padding: 0.4rem 0.4rem 0.4rem 2.4rem;
  @include flex-center;
  gap: 1.6rem;
  width: 100%;
  max-width: 52.1rem;
  input {
    all: unset;
    flex: 1;
    font-size: 1.6rem;
    color: $gray-100;
    font-weight: 400;
    line-height: 150%;
    &::placeholder {
      color: $gray-300;
    }
  }
  @include responsivo("tablet") {
    margin: 0 auto;
    input {
      text-align: left;
    }
  }
  @include responsivo("mobile") {
    justify-content: space-between;
    input {
      max-width: 15rem;
    }
    .btn-primary {
      font-size: 1.6rem;
      padding: 1.2rem 2rem;
    }
  }
}

.card-resource {
  width: 100%;
  max-width: 26.5rem;
  .icon {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 0.4rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.03);
    background-color: rgba(255, 255, 255, 0.03);
    @include flexTotalCenter;
    margin-bottom: 1.6rem;
  }
  .text {
    h6 {
      color: $gray-100;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 1.6rem;
    }
    p {
      color: $gray-600;
      font-size: 1.6rem;
      line-height: 150%;
    }
  }
}

.review {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  & > div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    span {
      color: $gray-100;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 150%;
      strong {
        font-weight: 400;
        color: $gray-600;
      }
    }
  }
  @include responsivo("tablet") {
    justify-content: center;
  }
}
