* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #fff;
  // font-family: 'Space Grotesk', sans-serif;
}

html {
  font-size: 62.5%;
  background-color: #0a0b0d;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}
